Fiona==1.9.4.post1
Pillow==10.0.0
PyMySQL==1.1.0
SQLAlchemy==2.0.17
attrs==23.1.0
certifi==2023.7.22
cffi==1.15.1
click==8.1.6
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.1.0
cryptography==41.0.1
cycler==0.11.0
fonttools==4.41.1
geopandas==0.13.2
greenlet==2.0.2
importlib-metadata==6.7.0
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
networkx==3.1
numpy==1.25.0
packaging==23.1
pandas==2.0.2
pip==21.3.1
pycparser==2.21
pyparsing==3.1.0
pyproj==3.6.0
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.1
setuptools==60.2.0
shapely==2.0.1
shiboken2==5.15.2.1
six==1.16.0
typing-extensions==4.7.1
tzdata==2023.3